@import "_variables.css";

html{
  background-color: var(--sd-global-colors-cultured);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons button{
  margin-top: 16px;
}

.h1{
  background: conic-gradient(from 4.384rad, #00D19F, #7AE582);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img{
  width: 310px;
  height: auto;
}

.logo{
  display: flex;
  flex-direction: column;
 justify-content: left;
}

.baseline{
  text-align: left;
  font-size: var( --sd-global-font-size-2);
}