@import "_variables.css";

html{
  background-color: var(--sd-global-colors-cultured);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons button{
  margin-top: 16px;
}

.h1{
  background: conic-gradient(from 4.384rad, #00D19F, #7AE582);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
  transition: 1s ease-in-out all
}

img{
  width: 310px;
  height: auto;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 33%;
}

.baseline{
  text-align: left;
  font-size: var( --sd-global-font-size-2);
}

@keyframes rotate {
  0% {
    background: conic-gradient(from 0rad, #00D19F, #7AE582);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    background: conic-gradient(from 180rad, #00D19F, #7AE582);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: conic-gradient(from 360rad, #00D19F, #7AE582);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}