{
  "global": {}
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    /**
    * @tokens Animations
    * @presenter Animation
    */
  
    --animation-rotate: rotate 1.2s infinite cubic-bezier(0.55, 0, 0.1, 1);
  
    /**
    * @tokens Colors
    * @presenter Color
    */
  
    --blue: #00AAFF; /* Token Description Example  @presenter Color */
    --navy: #4070FF;
    --teal: #2BD9D9;
    --green: #3DCC3D;
    --grass: #96DB0B;
    --yellow: #FFD426;
    --orange: #FFAA00;
    --red: #D01F2E;
    --pink: #F7578C;
    --purple: #A179F2;
    --grey-100: ;
    --grey-200: ;
    --grey-300: ;
    --grey-400: ;
    --grey-500: ;
    --grey-600: ;
    --grey-700: ;
    --grey-900: ;
    --grey-1000: ;
    --black: ;
    --white: ;
  
  
    /**
    * @tokens Others
    */
    --border-normal: 3px dashed red; /* Token Description Example @presenter BorderRadius */
  }